/* footer {
    background-color: black;
    margin-bottom: 100px;
    bottom: 0;
    width: 100%;
}

.footer-content {
    padding: 10px 0; 
    background-color: black;
}
.fa-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.copy {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #fff;
} */
