.home {
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.profile{
  display: flex;
  gap: 3em;
  padding: 0 5rem;

}

.ptag {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.container > div {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #333;
}
.webcaption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

}
a{
  text-decoration: none;
}
.btn{
  display: flex;
  margin: auto;
  padding: 10px 10px;
  margin-top: 30px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.btn1{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  margin-top: 30px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;

}
.btn:hover{
  background-color: orangered;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.links > div {
  margin: 10px;
  text-align: center;
  flex: 0 1 calc(9.0% - 10px);
}


@media (max-width: 600px) {
  .home {
    flex-direction: column;
    padding: 10px;
  }


  .container {
    flex-direction: column;
    gap: 10px;
  }

  .container > div {
    width: 100%;
    max-width: 100%;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
  .profile{
    display: flex;
    flex-direction: column;
    padding: 0;
  
}
.ptag{
  padding: 0 2px 0 2px;
}
.links > div {
  font-size: small;
  margin: 10px;
  text-align: center;
  flex: 0 1 calc(9.0% - 10px);
}

}