.work {
    text-align: center; 
}
.work-intro{
    position: relative;
    width: 100%;
}
.work-image {
    width: 90%;
    height: 60vh;
}

.work-intro-text {
    position: absolute;
    top: 90%;
    left: 10%;
    width: 80%;
    height: auto;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 30px;
}


.work-img-text {
    margin-top: 3%; 
}

.text-p{
    padding: 5px 30px;
}

.work-img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1%;
    width: 100%;
    padding: 0 10px;

}
.content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 32%;
    padding: 10px 0;
    margin-top: 20px;
    border: 1px solid gray;
}
.link{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 720px){
    .content{
        width: 45%;

    }
    .text-p{
        padding: 5px 10px;
    }
    .work-intro-text {
        border-radius: 10px;
    }


}