.work {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.work-intro {
    width: 100%;
}

.image {
    width: 98%;
    height: 60vh;
    padding: 30px 0 50px 0;
}


.work-intro-text {
    margin: auto;
    width: 93%;
    height: auto;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 30px;
}
.image-holder {
    position: relative;
    text-align: center;
}

.image {
    width: 95%;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}
.center-typists{
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
}

.typists-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.text-p {
    padding: 5px 5px;
}

.work-img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1%;
    width: 100%;

}

.content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    width: 32%;
    padding: 10px 0;
    margin-top: 20px;
    border: 1px solid gray;
}

.link {
    display: flex;
    justify-content: space-between;
}

.icon {
    padding: 5px 5px;
}

@media screen and (max-width: 720px) {
    .content {
        width: 45%;
    }

    .image {
        display: none;
    }

    .work-intro-text {
        background-color: transparent;
        margin: auto;
        width: 95%;
        border-radius: 10px;
        padding: 20px 0;
    }
    .typist-container{
        display: none;
    }
    .center-typists{
        display: none;
    }
    h2{
        font-size: 25px;
    }

}
